<h2 class="text-center text-5xl pt-20">Heroes</h2>
<div class="card-container flex justify-center gap-20 m-auto p-20 flex-wrap">
{{#each heroes}}
<div class="min-w-80 sm:w-64 lg:w-72  rounded-xl overflow-hidden">
<a href="/heroes/{{this.id}}" class="group relative block bg-black">
  <img
    alt="photo hero"
    src="{{this.photo}}"
    class="absolute inset-0 sm:h-full sm:w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
  />

  <div class="relative p-4 sm:p-6 lg:p-8 ">
    <p class="capitalize text-xl font-bold text-white sm:text-2xl">{{this.name}}</p>
    <p class="text-sm font-medium capitalize tracking-widest text-blue-200">{{this.type_name}}</p>

    <div class="mt-28 sm:mt-28 lg:mt-40 ">
      <div
        class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100"
      >
        <p class="text-sm text-white">
          {{this.description}}
        </p>
      </div>
    </div>
  </div>
</a>
</div>
{{/each}}


</div>